In [ ]:
exp 5 
pandas

In [1]:
print("pandas")

pandas

In [3]:
import numpy as np

In [4]:
a1=np.array([1,2,3])
a1

array([1, 2, 3])

In [6]:
a2=np.array[([1,2,0,3]),([1,4,5)])]
a2

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (4093262114.py, line 1)

In [7]:
a2=np.array([[1,2,0],[1,5,5]])
a2

array([[1, 2, 0],
       [1, 5, 5]])

In [12]:
a=np.array([[[1,2,3],[4,5,6]],[[5,7,9],[6,3,2]],[[7,8,9],[5,4,6]]])
a

array([[[1, 2, 3],
        [4, 5, 6]],

       [[5, 7, 9],
        [6, 3, 2]],

       [[7, 8, 9],
        [5, 4, 6]]])

In [15]:
a.shape

(3, 2, 3)

In [23]:
a([5,6])

TypeError: 'numpy.ndarray' object is not callable

In [21]:
a.ndim

3

In [22]:
a1.ndim

1

In [24]:
a.dtype

dtype('int32')

In [356]:
np.random.seed(0)
np_array=np.random.randint(100,size=(4,10))
np_array

array([[44, 47, 64, 67, 67,  9, 83, 21, 36, 87],
       [70, 88, 88, 12, 58, 65, 39, 87, 46, 88],
       [81, 37, 25, 77, 72,  9, 20, 80, 69, 79],
       [47, 64, 82, 99, 88, 49, 29, 19, 19, 14]])

In [357]:
np_array[0:2,0:3]

array([[44, 47, 64],
       [70, 88, 88]])

In [360]:
np_array.T

array([[44, 70, 81, 47],
       [47, 88, 37, 64],
       [64, 88, 25, 82],
       [67, 12, 77, 99],
       [67, 58, 72, 88],
       [ 9, 65,  9, 49],
       [83, 39, 20, 29],
       [21, 87, 80, 19],
       [36, 46, 69, 19],
       [87, 88, 79, 14]])

In [3]:
import pandas as pd
import numpy as np
np_array=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(np_array,index=['x','y'],columns=[1,2,3])
df

   1  2  3
x  1  2  3
y  4  5  6

In [5]:
colours=pd.Series(["Black","green","red","white"])
colours

0    Black
1    green
2      red
3    white
dtype: object

In [6]:
cars=pd.Series(["bmw","nsx""benz","alfa"])
cars

0        bmw
1    nsxbenz
2       alfa
dtype: object

In [8]:
cars_data=pd.DataFrame({"car makers":cars,"car colours":colours})
cars_data

  car makers car colours
0        bmw       Black
1    nsxbenz       green
2       alfa         red
3        NaN       white

In [9]:
car_sales=pd.read_csv("car-sales(1).csv")
car_sales

FileNotFoundError: [Errno 2] No such file or directory: 'car-sales(1).csv'

In [9]:
car_sales=pd.read_csv("car-sales(1).csv")
car_sales

FileNotFoundError: [Errno 2] No such file or directory: 'car-sales(1).csv'

In [11]:
car_sales=pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [13]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [14]:
car_sales.info

<bound method DataFrame.info of      Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [15]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [16]:
len(car_sales)

10

In [18]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [19]:
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [21]:
car_sales.iloc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [22]:
car_sales.loc[3]

NameError: name 'car_slaes' is not defined